body 
{
	margin: 0 auto;
	background-image:url(linedpaper.png);
	max-width: 100%;    
    min-width: 980px;
	
}

.header
{
	margin: 0px 0px;
	padding:20px;
	text-align:center;
	background-image:url(copy.jpg);
	background-position:center;
	background-repeat: no-repeat;
	height:40%; 
	background-size: cover;
	
}
.header h1
{
	color:white;
	font-family: "Tangerine", serif;
	font-size: 70px;
	margin-bottom:0px;
}

.button_1 {
    display:inline;
	float:left;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 0%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:30px;
    font-weight:bold;
}
.button_1:hover {
    background: #262626;
}

.button_2{
	display:inline;
	float:right;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 0%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:30px;
    font-weight:bold;
}


@media screen and (max-width: 600px) 
{
  .header
}

.subtitle
{
	font-size:16px;
	font-family: "Courier New", Courier, monospace;
	font-style:italic;
}

 span
 {
	 text-align:right;
 }
 
 textarea
 {
	 height:100%;
	 margin: 8px 26px;
	 resize: none;
	max-width: 100%; 
    max-height: 100%;
	border:1px solid #ccc;
 }
 fieldset
 {
	 margin: 8px 26px;
 }
 
 /*POPUP style*/
 /*Full-width input fields */
input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}
.book-button{
	background-color:  #cc9e9e;
	position:center;
	font-family: 'Lato', sans-serif;
	border: 2px solid #f5f5f5;
	cursor: pointer;
	width:100%;
	height:50px;
	font-size:15px;
	margin-top:5px;
}
/* Set a style for all buttons */
.form-button {
    background-color:  #73946b;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
	border: 2px solid #f5f5f5;
}
.form-button:hover {
    opacity: 0.8;
}

/*The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


